a, a:focus, a:hover {
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: none;
}

a img, img {
	border: none;
}

.clear {
	clear: both;
}

html {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: url('../img/background-2.png') fixed;
}

iframe {
	border: 0;
	display: block;
}

sup {
	font-size: 0.33em;
	top: -1.5em;
}

body > header {
	padding: 0 0 0.75em;
	color: #000;
	font-family: Rokkitt;
}

body > header h1 {
	color: #000;
	text-transform: uppercase;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 0.33em;
	text-decoration: underline;
}

body > header h2 {
	margin-top: 0;
}

h1, h2 {
	font-family: Rokkitt;
	margin: 0.5em 0;
}

.content {
	width: 1100px;
	margin: 0 auto;
}

#wrapper {
	padding: 0 5%;
}

#page {
	background: #FFF;
	box-shadow: 0 0 15px #666;
	border-radius: 3px;
	margin-bottom: 1em;
}

#page > section {
	margin: 1em 0;
}

#footer
{
	padding: 10px;
	font-size: 1em;
	text-align: center;
	color: #fff;
	background: #000;
}

.clear{
	clear: both;
}

.border{
	border: 1px solid #fff;
}

.contactNumber{
	font-size: 2em;
	margin-top:30px;
	text-align: right;
	color: #000;
}

.color{
	color: #009fdc;
}

.responsive{
	width: 100%;
}

nav#mainmenu {
	font-family: 'Open Sans';
	font-weight: bold;
	line-height: 2em;
	text-transform: uppercase;
	margin: 1em 0;
	text-align: center;
	font-size: 1.2em;
	color: #000;
}

nav#mainmenu ul {
	margin: 0;
	padding: 0 0 0 2em;
	list-style: none;
}

nav#mainmenu  ul li {
	display: inline;
	padding: 0 1.5em;
}

nav#mainmenu ul li a {
	padding: 0 0.5em;
}

nav#mainmenu ul li.active a {
	color: #00A3DF;
}

nav#mainmenu ul li a:hover {
	border-bottom: 4px solid #00A3DF;
}

.highlight {
	font-family: Rokkitt;
	font-size: 2em;
	margin: 0.5em 0 0;
	border: 1px solid #DDD;
	border-width: 1px 0;
	padding: 0.5em 0;
	text-align: center;
	background: #00A3DF;
	color: #FFF;
	text-shadow: 0 0 1px #999;
}

.button {
	-moz-box-sizing: content-box;
	background: linear-gradient(to bottom, #F6F6F6, #F0F0F0);
	border: 1px solid #D3D3D3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 1px #EEEEEE;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	padding: 0.5em 2em;
	text-decoration: none;
	width: auto !important;
}



.button:hover {
	background: #E6E6E6;
	background: linear-gradient(to bottom, #E6E6E6, #E0E0E0);
	color: #000;
}

.button:active {
	background: #DDD;
	background: linear-gradient(to bottom, #00A3DF, #006c95);
}

.button.blue {
	color: #FFF;
	background: linear-gradient(to bottom, #00A3DF, #006c95);
}

.button.blue:hover {
	background: linear-gradient(to bottom, #006c95, #00A3DF);
}

.button.blue:active {
	background: linear-gradient(to bottom, #00A3DF, #006c95);
}

.button.orange {
	color: #FFF;
	background: linear-gradient(to bottom, #e49d59, #D27721);
}

.button.orange:hover {
	background: linear-gradient(to bottom, #D27721, #e49d59);
}

.button.orange:active {
	background: linear-gradient(to bottom, #e49d59, #D27721);
}

#questions li:hover a {
	text-decoration: underline;
}

.toTop {
	float: right;
	margin: 0 1em 0 0;
}

#selling .gridRow:nth-child(even) {
	background: #FAFAFA;
	border: 1px solid #EEE;
	border-width: 1px 0;
}

form .row {
	margin-top: 0.5em;
}

.form-control:focus {
	border-color: #00A3DF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(210, 119, 33, 0.6);
}

#subHeader{
	font-size: 0.9em;
}

.contactDetails{
	font-size: 2em;
	line-height: 120px;
	float: right;
}

.leftCol{
	padding: 10px;
}

.border{
	height: 3px;
	background: #000;
	margin: 10px 0;
}

.propertyDescription p{
	font-size: 0.9em;
	margin: 0;
}


.leftCol, .mainContainer{
	background: #FFF;
	box-shadow: 0 0 15px #666;
	border-radius: 3px;
	margin-bottom: 1em;
	padding: 10px;
}

.mobileMenu{
	display: none;
}

.left{
	float: left;
}

.right{
	float: right;
}

.propertyItem{
	padding: 10px 0;
}

.propertyItem #summary{
	font-style: italic;
	padding: 0 10px;
}

.propertyInfo{
	font-size: 1em;
}

.propertyAddress h2{
	margin: 0;
}

.propertyAddress em{
	font-size: 1em;
}

.infoBlock:nth-of-type(even){
	background: #F0F0F0;
	border: 1px solid #D7D7D7;
	border-width: 1px 0;
}

.homeFeaturedNext:hover,
.homeFeaturedPrev:hover {
  opacity: 1;
}

.homeFeaturedNext,
.homeFeaturedPrev {
  position: absolute;
  top: 50%;
  left: 1em;
  z-index: 200;
  cursor: pointer;
  color: #FFF;
  opacity: 0.6;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  text-shadow: 0 0 2px #333;
}

.homeFeaturedNext {
  left: auto;
  right: 1em;
}

.borderGrey{
	height: 1px;
	background: #D7D7D7;
	margin: 10px 0;
}

@media (min-width: 768px){
	.contactNumber{
		display: block;
	}
}

@media (max-width: 800px){
	.contactNumber{
		display: none;
	}
	
	.mobileMenu{
		display: block;
	}

	nav{
		display: none;
	}
}