RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

# Cache one week for images
<FilesMatch "\.(jpg|jpeg|png|gif|swf|ico)$">
    Header set Cache-Control "max-age=12960000, public"
</FilesMatch>

Options -Indexes

AddDefaultCharset UTF-8
DefaultLanguage en-GB